APP_ENV=development
SECRET_KEY=change-me
DATABASE_URL=sqlite+aiosqlite:///./database/game_donat.db
BOT_TOKEN=
ADMIN_IDS=
WEBAPP_URL=http://127.0.0.1:5500
API_BASE_URL=http://127.0.0.1:8000/api
CARD_NUMBER=
CARD_OWNER=
REFERRAL_ENABLED=true
REFERRAL_DISCOUNT=5000
REFERRAL_SUBSCRIPTION_LIMIT=3
